<footer>
<div class="f-info">
    <div class="f-info-icon">
   <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-square-youtube"></i>
</div>

<div class="compay-name">&copy; Wonderlust Private Ltd. </div>
<div class="f-social-link">
    <a href="#">Privcy</a>
     <a href="#">Term</a>
      <a href="#">Compay Details</a>

</div>
</div>
</footer>